.navbarStyle {
  padding: .5rem 1rem !important;
}

.table-responsive-ms {
  max-height: 39rem !important;
  padding-left: 10%;
  padding-right: 10%;
}

#search-container {
  display: none;
  max-width: 800px;
  margin: 0 auto;
}

#frame {
  width: 1px;
  min-width: 100%;
}
